/*  

.container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: relative;
  z-index: 9999;
}

.logo {
  font-weight: bold;
  font-size: 22px;
}

.transitionImage {
  transition: 0.5s all ease;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
  z-index: 9999;
 
}

.link {
  font-weight: bold;
}

.logout {
  padding: 5px;
  border: none;
  background-color: #1518c8;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}

.hamburgerMenu {
  display: none;
}

.hamburgerToggle {

}

@media (max-width: 768px) {
  .hamburgerMenu {
    display: block;
  }

  .links {
        transition: 1s all ease;

    display: none;
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    background-color: var(--menu-bg-color);
     flex-direction: column;
    gap: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
     /* z-index: 999999; */
  /* }
  .link {
    
   }

  .linksOpen {
    display: flex;
  }

  .logout {
    width: 100%;
    text-align: center;
  }
}

.active {
  color: #1518c8;
}

.themeDark {
  --menu-bg-color: #111;
 }

.themeLight {
  --menu-bg-color: white;
 } */  

/* .container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: relative;
  z-index: 9999;
}

.logo {
  font-weight: bold;
  font-size: 22px;
}

.transitionImage {
  transition: 0.5s all ease;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  background-color: var(--menu-bg-color);
  flex-direction: column;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.link {
  font-weight: bold;
}

.hamburgerMenu {
  display: none;
}

.hamburgerToggle {
  position: absolute;
  top: 10px; /* Adjust as needed */
  /* right: 10px; /* Adjust as needed */
/* }

@media (max-width: 768px) {
  .hamburgerMenu {
    display: block;
  }

  .links {
    display: none;
  }

  .linksOpen {
    display: flex;
  }

  .logout {
    width: 100%;
    text-align: center;
  }
}

.active {
  color: #1518c8;
}

.themeDark {
  --menu-bg-color: #111;
}

.themeLight {
  --menu-bg-color: white;
} */  

.container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: relative;
  z-index: 9999;
}

.logo {
  font-weight: bold;
  font-size: 22px;
}

.transitionImage {
  transition: 0.5s all ease;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
  z-index: 9999;
}

.link {
  font-weight: bold;
}

.logout {
  padding: 5px;
  border: none;
  background-color: #1518c8;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}

.hamburgerMenu {
  display: none;
}
@media (min-width: 768px) {
  .hamburgerToggle {
    display: none;
  }
}



@media (max-width: 768px) {
  .hamburgerMenu {
    display: block
  }
.hamburgerToggle {
  position: absolute;
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  }

  .links {
    display: none;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    background-color: var(--menu-bg-color);
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 999;
  }

  .linksOpen {
    display: flex;
  }

  .logout {
    width: 100%;
    text-align: center;
  }
}

.active {
  color: #1518c8;
}

.themeDark {
  --menu-bg-color: #111;
}

.themeLight {
  --menu-bg-color: white;
}



 
